
@keyframes translateButton {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-640px) translateY(125px);
    }
    100% {
        transform: translateX(-640px) translateY(125px);
        opacity: 0;
    }
}

@keyframes opacityButton {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}